html {
    --color-black: black;
    --color-light-grey: #ccc;
    --color-grey: #666;
    --color-red: #c80000;
    --color-white: white;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.main--cart {
    padding: 0;
    justify-content: center;
}
.container__title {
    font-size: 1.6rem;
    padding: 1rem 0 1rem 0;
    font-weight: bold;
}
.form__part {
    width: 50%;
    box-sizing: border-box;
    padding-left: 1rem;
    min-height: 350px;
    min-width: 490px;
}
.form__inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.container {
    width: 60%;
}
.container--border {
    border-bottom: 1px solid var(--color-light-grey);
}
.fieldset__legend {
    font-size: 1.2rem;
    color: var(--color-grey);
    padding: 1rem 0 1rem 0;
}
.form-row {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}
.form-row--small-label>label {
    font-size: 0.9rem;
}
.form-row--column {
    flex-direction: column;
    align-items: flex-start;
}
.form-row--column>label {
    padding-bottom: 0.2rem;
}
 .form__total-container {
     border-top: 1px solid var(--color-grey);
 }
 .form__total-content {
     margin: 1rem;
     padding: 1.5rem;
     border-radius: 5px;
     box-shadow: 1px 2px 5px lightgrey;
     display: flex;
     justify-content: space-between;
 }
 .form__price-texte {
     font-size: 1.2rem;
     font-weight: bold;
 }
 .form__price-value {
     color: var(--color-red);
     font-size: 1.5rem;
     font-weight: bold;
 }
 .form__buttons-container {
    border-top: 1px solid var(--color-grey);
    border-bottom: 1px solid var(--color-grey);
    margin-bottom: 1rem;
 }
 .form__buttons-content {
    margin: 1rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.button {
    border: 1px solid transparent;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    transition: border 0.5s ease-in;
}

.button:hover {
    border: 1px solid black;
}
.button--redirect {
    background-color: #EFEFEF;
}

.button--buy {
    background-color: var(--color-red);
    color: white;
}

.table {
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 1px 2px 5px lightgrey;
    margin: 0 1rem 1.5rem 1rem;
    width: 100%;
}
.table__header-container {
    border-bottom: 1px solid black;
}
.table__header-container th {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.3rem 0 0.3rem 0;
}
.table__body-container td {
    padding: 0.20rem 0 0.20rem 0;
    text-align: center;
}
.table__body-container tr:nth-of-type(odd) {
    background-color: var(--color-light-grey);
}
.table__quantity-container>input {
    width: 2rem;
}
.table__quantity-container>a {
    font-size: 0.7rem;
    color: var(--color-red);
}
.table__footer-text {
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
    font-weight: bold;
}
.table__footer-value {
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-red);
}